<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>152819163863-megdtj4hpi2qqifhtdmnk4cjvtr91p1q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.152819163863-megdtj4hpi2qqifhtdmnk4cjvtr91p1q</string>
	<key>API_KEY</key>
	<string>AIzaSyAq7wJyOH3IJC9HbO2FQ9e3w-p31oxt8bA</string>
	<key>GCM_SENDER_ID</key>
	<string>152819163863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.binx.bountier</string>
	<key>PROJECT_ID</key>
	<string>instagram-a7218</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-a7218.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152819163863:ios:ccb4417d6e6253d3a50692</string>
</dict>
</plist>